body {
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    background-color: #222;
    flex-direction: row;
    flex-wrap: nowrap;
}
#gameArea {
    width: 500px;
    height: 500px;
}
canvas {
    position: absolute;
    background: #717e82;
    border: 2px solid black;
}
#backgroundCanvas { 
    background-color: grey;
}
#gameCanvas {
    background-color: transparent;
}
#interface{
    display: flex;
    width: 300px;
    flex-direction: column;
}
#typedText { 
    font-size: x-large;
    color: white;
    z-index: 2;
    border: 2px solid rgb(196, 117, 117);
    border-radius: 5px;
    height: 30px;
    width: 150px;
}
#score {
    margin-top: 25px;
    font-size: large;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    color:white;
    
    transition: transform 0.09s ease-in-out;
    transform-origin: center;
}

.pop {
    transform: scaleY(1.2);
}

#scoreBoard {
    color:whitesmoke;
}