body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

canvas {
    position: absolute;
    top: 20;
    left: 20;
    background: #717e82;
    border: 2px solid black;
}

#backgroundCanvas { 
    background-color: grey;
}

#gameCanvas {
    background-color: transparent;
}

#typedText { 
    color: white;
    z-index: 2;
    position:absolute;
    top: 500;
    left: 500;
    border: 2px solid black;
    border-radius: 5px;
    
}